.img__icon {
    padding: 10px;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.star__icon {
    width: 80px;
    height: 80px;
    /* padding: 10px; */
}

.star__icon--text {
    font-size: 10px;
    text-align: center;
    
}